Carti/
word/
mat_files/
pictures/
After Coffee/
Before Coffee/
anne1234.ipynb
Butterworth.py
csv.ipynb
data.csv
dataset.csv
difference_vector.csv
jupyter_nb.ipynb
Test.py
main_nefolosit.ipynb
NEW.py

anne.ipynb
csv.ipynb
LSTM.py
separation_electrodes.ipynb
statistical.ipynb
